@page
@model ChoosenCareHome.Areas.Admin.Pages.RotaPage.DetailsModel
@using System.Globalization

<div>
    <h4>Rota Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserRota.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserRota.Name)
        </dd>
        <dt class="col-sm-2">
            Post Code
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserRota.PostCode)
        </dd>
         
    </dl>
</div>

<div class="card">
    
    <div class="card-header">
        <form method="get">
            <input type="hidden" name="id" value="@Model.UserRota.Id" />

            <div class="row">
                <div class="col-md-4">
                    <label for="startDate">Start Date:</label>
                    <input type="date" id="startDate" name="startDate" class="form-control" value="@Model.StartDate?.ToString("yyyy-MM-dd")" />
                </div>
                <div class="col-md-4">
                    <label for="endDate">End Date:</label>
                    <input type="date" id="endDate" name="endDate" class="form-control" value="@Model.EndDate?.ToString("yyyy-MM-dd")" />
                </div>
                <div class="col-md-4 d-flex align-items-end">
                    <button type="submit" class="btn btn-primary">Filter</button>
                </div>
            </div>
        </form>
    </div>

    <div class="card-body">
        <h3 style="text-align:center;font-weight:900;">@Model.DateTitle</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>S/N</th>
                    <th>Staff</th>
                    <th>Date</th>
                    <th>Time</th>
                </tr>
            </thead>
            @{ int sn = 0; }
            <tbody>
                @foreach (var item in Model.UserTimeSheets)
                {
                    <tr>
                        <td>@(++sn)</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.Title)
                            @Html.DisplayFor(modelItem => item.User.Surname)
                            @Html.DisplayFor(modelItem => item.User.FirstName)
                            @Html.DisplayFor(modelItem => item.User.MiddleName)
                        </td>
                        <td>@item.TimeSheet.Date.ToString("ddd dd MMM, yyyy")</td>
                        <td>@item.StartTime.ToString(@"hh\:mm") - @item.EndTime.ToString(@"hh\:mm")</td>
                    </tr>
                }
            </tbody>
        </table>


        <div class="">
            <a class="btn btn-primary" asp-page="./Index">Back to List</a>
            <a class="btn btn-primary" asp-page="./PrintRota" asp-route-id="@Model.UserRota.Id" asp-route-startDate="@Model.StartDate" asp-route-endDate="@Model.EndDate">Print Rota</a>
        </div>
    </div>
</div>
 

@section Scripts {
    <script>
        function adjustWeek(offset) {
            var currentYear = parseInt(document.getElementById("currentYear").value);
            var currentWeek = parseInt(document.getElementById("currentWeek").value);
            var newWeek = currentWeek + offset;

            if (newWeek < 1) {
                currentYear -= 1;
                newWeek = 53;
            } else if (newWeek > 53) {
                currentYear += 1;
                newWeek = 1;
            }

            document.getElementById("currentYear").value = currentYear;
            document.getElementById("currentWeek").value = newWeek;
            document.getElementById("yearSelect").value = currentYear;
            document.getElementById("weekSelect").value = newWeek;

            clearMonthAndDay();
            document.forms[0].submit();
        }

        function updateCurrentYear() {
            var year = document.getElementById("yearSelect").value;
            document.getElementById("currentYear").value = year;
        }

        function clearWeekAndDay() {
            document.getElementById("currentWeek").value = '';
            document.getElementById("daySelect").value = '';
        }

        function clearMonthAndDay() {
            document.getElementById("monthSelect").value = '';
            document.getElementById("daySelect").value = '';
        }

        function clearMonthAndWeek() {
            document.getElementById("monthSelect").value = '';
            document.getElementById("weekSelect").value = '';
        }
    </script>
}
