@page
@model ChoosenCareHome.Areas.Admin.Pages.TimeSheetPage.SheetDetailsModel
@{
}
<div>
    <h4>User Time Sheet</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserTimeSheet.User)
        </dt>
        <dd class="col-sm-10">
            @Model.UserTimeSheet.User.Title
            @Model.UserTimeSheet.User.Surname
            @Model.UserTimeSheet.User.FirstName
            @Model.UserTimeSheet.User.MiddleName
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserTimeSheet.StartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserTimeSheet.StartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserTimeSheet.EndTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserTimeSheet.EndTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserTimeSheet.Report)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserTimeSheet.Report)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserTimeSheet.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserTimeSheet.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserTimeSheet.PostCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserTimeSheet.PostCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserTimeSheet.RatePerHour)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserTimeSheet.RatePerHour)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserTimeSheet.Break)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserTimeSheet.Break)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserTimeSheet.TimeSheet)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserTimeSheet.TimeSheet.Date)
        </dd>
    </dl>
</div>