@page
@model ChoosenCareHome.Areas.Admin.Pages.PlansPage.Subs.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CommunityPlanSchedule</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CommunityPlanSchedule.Day)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CommunityPlanSchedule.Day)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CommunityPlanSchedule.TimeSlot)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CommunityPlanSchedule.TimeSlot)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CommunityPlanSchedule.CommunityPlan)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CommunityPlanSchedule.CommunityPlan.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.CommunityPlanSchedule.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
